.top-container {
  border-bottom: 1px solid #e6e6e6;
  background: white;
  // padding-top: 29px;
  // padding-bottom: 12px;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  animation: top-con-scroll 0.5s forwards;

  @keyframes top-con-scroll {
    0% {
      padding-top: 16px;
      padding-bottom: 0px;
    }

    100% {
      padding-top: 25px;
      padding-bottom: 11px;
    }
  }

  .search-bar-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // @include flex(space-between, center, row);
    max-width: 970px;
    margin: 0 auto;
    height: 35px;
    width: 100%;

    @media (max-width: 999px) {
      width: 100%;
    }

    @media (max-width: 740px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 620px) {
      width: 100%;
    }

    @media (max-width: 350px) {
      width: 100%;
    }

    form {
      @media (max-width: 650px) {
        display: none;
      }

      padding-right: 0;
      .search {
        text-align: center;
        width: 215px;
        height: 28px;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        background: #fafafa;
        font-size: 1.4rem;
        margin-right: 50px;
        margin-bottom: 15px;

        ::placeholder {
          color: #999999;
        }
      }
    }

    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -14px;

      .logos {
        .insta-logo {
          width: 24px;
          margin-right: 15px;
        }
      }

      .logo-name {
        border-left: 0.02px solid #262626;
        height: 27px;
        // animation: insta-name-scroll 0.3s 1
        .insta-text {
          width: 133px;
          margin-left: 14px;
        }
      }

      // @keyframes insta-name-scroll {
      //   0% {
      //     opacity: 0;
      //   }
      //   100% {
      //     opacity: 1;
      //   }
      // }
    }

    .icon-container {
      display: flex;
      flex-direction: row;
      width: 135px;
      justify-content: space-between;
      padding-bottom: 11px;

      .logo {
        width: 25px;
      }

      .profile {
        cursor: pointer;
      }
      .likes {
        opacity: 0.3;
      }
      .location {
        opacity: 0.3;
      }
    }
  }
}

.topsearch {
  background: black;
}

.top-scroll {
  animation: top-con 0.5s forwards;
}
@keyframes top-con {
  0% {
    padding-top: 25px;
    padding-bottom: 11px;
  }

  100% {
    padding-top: 16px;
    padding-bottom: 0px;
  }
}

.hidden {
  animation: insta-name 0.3s forwards;
}
@keyframes insta-name {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.padding-right {
  margin-right: 156px;
}

#search {
  background-image: url('/search-solid.svg');
  background-repeat: no-repeat;
  // text-indent: 20px;
  background-size: 6%;
  background-position: 68px 7px;
}
