@import './libs/mixins';
@import './libs/vars';
@import '../CommentSection/CommentSection';
@import '../PostContainer/PostContainer';
@import '../SearchBar/SearchBar';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// code starts here

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

p {
  line-height: 24px;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

// code starts here
html {
  background: #fafafa;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;

  .loading-insta {
    width: 80px;
    opacity: 0.2;
    animation: instagram 3s infinite;
  }
  @keyframes instagram {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(360deg);
    }

    35% {
      transform: rotate(355deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.postpage {
  // position: relative;
  margin: 0 auto;
  top: 0;
  max-width: 935px;
  .App {
    margin: 0 auto;
    position: absolute;
    top: 0;

    @media (max-width: 999px) {
      position: relative;
    }

    @media (max-width: 620px) {
      width: 100%;
    }

    @media (max-width: 350px) {
      width: 100%;
    }
  }
}

.bottom-content {
  padding-top: 134px;
  margin: 0 auto;
  max-width: 935px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;

  @media (max-width: 999px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 740px) {
    width: 100%;
  }

  @media (max-width: 640px) {
    margin-bottom: 112px;
    border: none;
    margin-top: -112px;
    width: 100%;
  }

  @media (max-width: 620px) {
    width: 100%;
  }

  @media (max-width: 350px) {
    width: 100%;
  }
}

.none {
  display: none;
}
