.post-container {
  max-width: 614px;
  border: 1px solid #e6e6e6;
  background: white;
  margin-bottom: 60px;

  .user-content {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-bottom: 1px solid #efefef;

    .thumbnail {
      border-radius: 50%;
      max-width: 30px;
      width: 100%;
      height: auto;
      max-height: 30px;
    }
    .username {
      font-size: 1.6rem;
      font-weight: 600;
      padding-left: 12px;
    }
  }

  .middle-content {
    .post-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 6px;
      padding-right: 15px;
      padding-left: 15px;
      .icon-left {
        width: 65px;
        display: flex;
        justify-content: space-between;
        .heart {
          width: 25px;
          cursor: pointer;
        }

        .comment {
          width: 25px;
          cursor: pointer;
        }
      }
      .icon-right {
        .bookmark {
          width: 20px;
          cursor: pointer;
        }
      }
    }
    .likes {
      padding-top: 5px;
      padding-left: 15px;
      font-size: 1.55rem;
      font-weight: 500;
    }
  }
}
